{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
    <section class="ftco-section contact-section ftco-degree-bg">
        <div class="container" style="margin-top: 50px;">
        <div class="row block-9">
            <div style="margin-top: 50px;" class="col-md-6 pr-md-5">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Your Name">
                </div>
                <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Your Email">
                </div>
                <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject">
                </div>
                <div class="form-group">
                <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                </div>
            </form>
        </div>
            <!-- Map --> <div style="width: 580px;" class="contact_map"> 
                <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=31.114679457777264,30.93955993652344+(%D9%85%D9%83%D8%AA%D8%A8%20%D8%A7%D9%84%D8%AF%D9%83%D8%AA%D9%88%D8%B1%20%D8%B9%D9%85%D8%B1%D9%88)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/draw-radius-circle-map/">Measure km radius</a></div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
{% endblock body %}    