{% extends 'base.html' %} {% load static %} {% load bootstrap4 %} {% block body %}


<div class="row">
    <div class="col-md-6 mt-5 mb-5 mx-auto">
        <form action="" method="post">
            {% csrf_token %}{% buttons %} {% bootstrap_form form.email.form %}{% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <!-- <input type="submit" class="btn btn-default btn-lg" value="Reset password"> -->
            <button type="button" class="btn btn-primary btn-lg btn-block">Reset password</button>{% endbuttons %}
        </form>
    </div>
</div>
{% endblock body %}